{% extends 'flatpages/default.html' %}

{% block title %} News list {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данную статью?</h2>
<table>
    <thead>
        <th>
            Дата публикации
        </th>
        <th>
            Заголовок
        </th>
        <th>
            Имя пользователя
        </th>
    </thead>
    <tr>
        <td>
            {{ post.dateCreation }}
        </td>
        <td>
            {{ post.title|title }}
        </td>
        <td>
            {{ post.auth }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}