{% extends 'flatpages/default.html' %}

{% block title %} News list {% endblock title %}

{% block content %}

<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>

<table>
    <thead>
        <th>
            Дата публикации
        </th>
        <th>
            Заголовок
        </th>
        <th>
            Имя пользователя
        </th>
    </thead>
    {% for search in filter.qs %}
    <tr>
        <td>
            {{ search.dateCreation }}
        </td>
        <td>
            {{ search.title }}
        </td>
        <td>
            {{ search.auth }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
